<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="COLUMNS" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>  
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="_FILE" value="C:/TestEnvironments/fixviewer/execution_gateway.FEGW_BD.log" />
    <add key="_FILE" value="C:/TestEnvironments/fixviewer/MxGW.ASG_PROD.log" />
    <add key="FILE" value="C:/TestEnvironments/fixviewer/igate.log" />
    <add key="FIXDICTIONARY" value="C:/TestEnvironments/fixviewer/FIX42.xml" />
  </appSettings>

  <COLUMNS>
    <add key="MsgType" value="70"/>
    <add key="Account" value="70"/>
    <add key="ClOrdID" value="135"/>
    <add key="OrigClOrdID" value="135"/>
    <add key="OrdType" value="70"/>
    <add key="Side" value="70"/>
    <add key="OrderQty" value="70"/>
    <add key="Price" value="70"/>
    <add key="Symbol" value="70"/>
    <add key="TimeInForce" value="70"/>
    <add key="Currency" value="70"/>
    <add key="ExecInst" value="70"/>
    <add key="HandlInst" value="70"/>
    <add key="TransactTime" value="135"/>
    <add key="ComplianceID" value="70"/>
    <add key="TimeInForce" value="70"/>
    <add key="10104" value="70"/>
    <add key="10105" value="70"/>
  </COLUMNS>
  
  
</configuration>


